doctype html
html
	head
		style
			| *{background-color:LightYellow;}
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')

		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')

		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
		
		title= Login
	body
		div(class="comtainer")
			div(style='float:left;margin:10px;')
				a(href='/') Home
		
			div(style='float:right')
				if (username && authenticated)
					a(href='/signout', style='margin:10px;') Sign Out
					a(href='/profile', style='margin:10px;') Profile
					span #{username}
				else
					a(href='/register', style='margin:10px;') Register
					a(href='/signin', style='margin:10px;') Log In
					
			div(style='padding:50px;')
				form(name="add", action="/apis/add", method="post")
					h1 Add Article
					div
						p
							span Writer: 
							label(style='padding-right:50px') #{username}
						p
							textarea(cols="50", rows="25", style='resize : none;', name="Content", class="form-control")
						div
							span(style='padding-right:0px')
							input(class="btn btn-default btn-lg", type="submit", name="submit", value="Save")
							
							
							
